<div class = "container">


<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :name, :class => 'inputClass'%>
  </div>

  <div class="field">
    <%= form.label "apellido" %>
    <%= form.text_field :lastname , :class => 'inputClass'%>
  </div>

  <div class="field">
    <%= form.label "correo" %>
    <%= form.text_field :email , :class => 'inputClass'%>
  </div>

  <div class="field">
    <%= form.label "Edad" %>
    <%= form.number_field :age , :class => 'inputClass'%>
  </div>

  <div class="field">
    <%= form.label "Sexo" %>
    Hombre: <%= form.radio_button :sex, "hombre", :class => "radioBtn" %>
    Mujer: <%= form.radio_button :sex, "mujer", :class => "radioBtn" %>
  </div>

  <div class="field">
    <%= form.label "Peso" %>
    <%= form.number_field :weight, :step => 0.1 , :class => 'inputClass'%>
  </div>

  <div class="field">
    <%= form.label "Perímetro de la cintura" %>
    <%= form.number_field :waist_perimeter, :step => 0.1 , :class => 'inputClass'%>
  </div>
<!--
  <div class="field">
    <%= form.label :float %>
    <%= form.text_field :float %>
  </div>
-->

  <div class="field">
    <%= form.label "altura" %>
    <%= form.number_field :height , :step => 0.1 , :class => 'inputClass'%>
  </div>

  <div class="field">
    <%= form.label "sistole" %>
    <%= form.number_field :systole, :step => 0.1 , :class => 'inputClass'%>
  </div>

  <div class="field">
    <%= form.label :diastole %>
    <%= form.number_field :diastole, :step => 0.1 , :class => 'inputClass'%>
  </div>

  <div class="field">
    <%= form.label "ritmo cardiaco" %>
    <%= form.number_field :heart_rate, :step => 0.1 , :class => 'inputClass'%>
  </div>

  <div class="field">
    <%= form.label :spo2 %>
    <%= form.number_field :spo2, :step => 0.5 , :class => 'inputClass'%>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar Datos', :class => 'btnBox' %>
  </div>
<% end %>

</div>