<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @user.weight %>
</p>

<p>
  <strong>Waist perimeter:</strong>
  <%= @user.waist_perimeter %>
</p>

<p>
  <strong>Float:</strong>
  <%= @user.float %>
</p>

<p>
  <strong>Height:</strong>
  <%= @user.height %>
</p>

<p>
  <strong>Systole:</strong>
  <%= @user.systole %>
</p>

<p>
  <strong>Diastole:</strong>
  <%= @user.diastole %>
</p>

<p>
  <strong>Heart rate:</strong>
  <%= @user.heart_rate %>
</p>

<p>
  <strong>Spo2:</strong>
  <%= @user.spo2 %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
